In [1]:
import pandas as pd
from pathlib import Path
pd.set_option('display.max_columns',None)
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option("display.max_rows", None)
from ast import literal_eval

In [2]:
filepath = Path("Downloads/Cleaned_Main_Data.csv")
filepath2 = Path("Downloads/cleaned_mal_studio_data.csv")
main = pd.read_csv(filepath)
studio = pd.read_csv(filepath2)

In [3]:
main = main.rename(columns = {"title":"Name"})

In [4]:
df = pd.merge(main,studio, how = "left", on = ["Name", "Name"])

In [5]:
df.head()

,Unnamed: 0_x,uid,Name,genre,aired,episodes,members,popularity,ranked,score,Unnamed: 0.1,Unnamed: 0_y,Type,Studio,Genres
0,0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,63.0,63.0,TV,['Production I.G'],['Sports']
1,1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,57.0,57.0,TV,['A-1 Pictures'],"['Drama', 'Romance']"
2,2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,52.0,52.0,TV,['Kinema Citrus'],"['Adventure', 'Drama', 'Fantasy', 'Mystery', '..."
3,3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,0.0,0.0,TV,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy']"
4,4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,29.0,29.0,Movie,['Shaft'],"['Action', 'Mystery', 'Supernatural']"

In [6]:
df.columns

Index(['Unnamed: 0_x', 'uid', 'Name', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score', 'Unnamed: 0.1', 'Unnamed: 0_y', 'Type',
       'Studio', 'Genres'],
      dtype='object')

In [7]:
cols = ['uid', 'Name', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score','Type',
       'Studio', 'Genres']
df = df.loc[:,cols]

In [8]:
df.head()

,uid,Name,genre,aired,episodes,members,popularity,ranked,score,Type,Studio,Genres
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,TV,['Production I.G'],['Sports']
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,TV,['A-1 Pictures'],"['Drama', 'Romance']"
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,TV,['Kinema Citrus'],"['Adventure', 'Drama', 'Fantasy', 'Mystery', '..."
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,TV,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy']"
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,Movie,['Shaft'],"['Action', 'Mystery', 'Supernatural']"

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   Name        19311 non-null  object
 2   genre       19311 non-null  object
 3   aired       19311 non-null  object
 4   episodes    18605 non-null  float64
 5   members     19311 non-null  int64
 6   popularity  19311 non-null  int64
 7   ranked      16099 non-null  float64
 8   score       18732 non-null  float64
 9   Type        2838 non-null   object
 10  Studio      2838 non-null   object
 11  Genres      2838 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.9+ MB

In [10]:
df.head()

,uid,Name,genre,aired,episodes,members,popularity,ranked,score,Type,Studio,Genres
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,TV,['Production I.G'],['Sports']
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,TV,['A-1 Pictures'],"['Drama', 'Romance']"
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,TV,['Kinema Citrus'],"['Adventure', 'Drama', 'Fantasy', 'Mystery', '..."
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,TV,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy']"
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,Movie,['Shaft'],"['Action', 'Mystery', 'Supernatural']"

In [11]:
air_date_split = df['aired'].str.split(' to ')
df['Start Date'] = air_date_split.apply(lambda x : x[0])
df['End Date'] = air_date_split.apply(lambda x : x[1] if len(x) > 1 else None)

In [12]:
df.drop('aired', axis = 1, inplace = True)

In [13]:
df.head()

,uid,Name,genre,episodes,members,popularity,ranked,score,Type,Studio,Genres,Start Date,End Date
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",25.0,489888,141,25.0,8.82,TV,['Production I.G'],['Sports'],"Oct 4, 2015","Mar 27, 2016"
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,995473,28,24.0,8.83,TV,['A-1 Pictures'],"['Drama', 'Romance']","Oct 10, 2014","Mar 20, 2015"
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",13.0,581663,98,23.0,8.83,TV,['Kinema Citrus'],"['Adventure', 'Drama', 'Fantasy', 'Mystery', '...","Jul 7, 2017","Sep 29, 2017"
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...",64.0,1615084,4,1.0,9.23,TV,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy']","Apr 5, 2009","Jul 4, 2010"
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']",1.0,214621,502,22.0,8.83,Movie,['Shaft'],"['Action', 'Mystery', 'Supernatural']","Jan 6, 2017",None

In [14]:
df.head()

,uid,Name,genre,episodes,members,popularity,ranked,score,Type,Studio,Genres,Start Date,End Date
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",25.0,489888,141,25.0,8.82,TV,['Production I.G'],['Sports'],"Oct 4, 2015","Mar 27, 2016"
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,995473,28,24.0,8.83,TV,['A-1 Pictures'],"['Drama', 'Romance']","Oct 10, 2014","Mar 20, 2015"
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",13.0,581663,98,23.0,8.83,TV,['Kinema Citrus'],"['Adventure', 'Drama', 'Fantasy', 'Mystery', '...","Jul 7, 2017","Sep 29, 2017"
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...",64.0,1615084,4,1.0,9.23,TV,['Bones'],"['Action', 'Adventure', 'Drama', 'Fantasy']","Apr 5, 2009","Jul 4, 2010"
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']",1.0,214621,502,22.0,8.83,Movie,['Shaft'],"['Action', 'Mystery', 'Supernatural']","Jan 6, 2017",None

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19311 entries, 0 to 19310
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   Name        19311 non-null  object
 2   genre       19311 non-null  object
 3   episodes    18605 non-null  float64
 4   members     19311 non-null  int64
 5   popularity  19311 non-null  int64
 6   ranked      16099 non-null  float64
 7   score       18732 non-null  float64
 8   Type        2838 non-null   object
 9   Studio      2838 non-null   object
 10  Genres      2838 non-null   object
 11  Start Date  19311 non-null  object
 12  End Date    9696 non-null   object
dtypes: float64(3), int64(3), object(7)
memory usage: 2.6+ MB

In [20]:
df2 = df.drop(df[df["Start Date"] == "Not available"].index)

In [23]:


df2['Start Date'] = pd.to_datetime(df2['Start Date'])
# #add year of release column

In [27]:
cols = ['uid', 'Name', 'genre', 'episodes', 'members',
       'popularity', 'ranked', 'score','Type',
       'Studio','Start Date','End Date']
df2 = df.loc[:,cols]

In [28]:
df2.head()

,uid,Name,genre,episodes,members,popularity,ranked,score,Type,Studio,Start Date,End Date
0,28891,Haikyuu!! Second Season,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",25.0,489888,141,25.0,8.82,TV,['Production I.G'],"Oct 4, 2015","Mar 27, 2016"
1,23273,Shigatsu wa Kimi no Uso,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",22.0,995473,28,24.0,8.83,TV,['A-1 Pictures'],"Oct 10, 2014","Mar 20, 2015"
2,34599,Made in Abyss,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",13.0,581663,98,23.0,8.83,TV,['Kinema Citrus'],"Jul 7, 2017","Sep 29, 2017"
3,5114,Fullmetal Alchemist: Brotherhood,"['Action', 'Military', 'Adventure', 'Comedy', ...",64.0,1615084,4,1.0,9.23,TV,['Bones'],"Apr 5, 2009","Jul 4, 2010"
4,31758,Kizumonogatari III: Reiketsu-hen,"['Action', 'Mystery', 'Supernatural', 'Vampire']",1.0,214621,502,22.0,8.83,Movie,['Shaft'],"Jan 6, 2017",None

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18939 entries, 0 to 19310
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         18939 non-null  int64
 1   Name        18939 non-null  object
 2   genre       18939 non-null  object
 3   episodes    18411 non-null  float64
 4   members     18939 non-null  int64
 5   popularity  18939 non-null  int64
 6   ranked      15963 non-null  float64
 7   score       18596 non-null  float64
 8   Type        2815 non-null   object
 9   Studio      2815 non-null   object
 10  Genres      2815 non-null   object
 11  Start Date  18939 non-null  datetime64[ns]
 12  End Date    9696 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 2.0+ MB

In [32]:
df2["Studio"] = df2.Studio.apply(lambda x:literal_eval(x)[0] if pd.notnull(x) else x)

In [33]:
df2["genre"] = df2.genre.apply(lambda x:literal_eval(x) if pd.notnull(x) else x)
df2["genre"] = df2.genre.apply(lambda x:x[0] if len(x) >0  else None)

In [34]:
df2.head()

,uid,Name,genre,episodes,members,popularity,ranked,score,Type,Studio,Start Date,End Date
0,28891,Haikyuu!! Second Season,Comedy,25.0,489888,141,25.0,8.82,TV,Production I.G,"Oct 4, 2015","Mar 27, 2016"
1,23273,Shigatsu wa Kimi no Uso,Drama,22.0,995473,28,24.0,8.83,TV,A-1 Pictures,"Oct 10, 2014","Mar 20, 2015"
2,34599,Made in Abyss,Sci-Fi,13.0,581663,98,23.0,8.83,TV,Kinema Citrus,"Jul 7, 2017","Sep 29, 2017"
3,5114,Fullmetal Alchemist: Brotherhood,Action,64.0,1615084,4,1.0,9.23,TV,Bones,"Apr 5, 2009","Jul 4, 2010"
4,31758,Kizumonogatari III: Reiketsu-hen,Action,1.0,214621,502,22.0,8.83,Movie,Shaft,"Jan 6, 2017",None

In [ ]:
df2.to_csv('Cleaned_Data_With_Year.csv')